{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Update Debtor</h1>
  <form method="POST" action="{% url 'debt_update' debt.id %}">
    {% csrf_token %}


    <div>
      <label for="customer">Customer</label>
      <select name="customer" id="customer" required>
        <!-- Populate with customers from the database -->
        {% for customer in customers %}
        <option value="{{ customer.id }}" {% if customer.id == debt.customer.id %}selected{% endif %}>
          {{ customer.name }}
        </option>
        {% endfor %}
      </select>
    </div>


    <div>
      <label for="amount">Amount</label>
      <input type="number" step="0.01" name="amount" value="{{ debt.amount }}" id="amount" required
        placeholder="Enter amount" />
    </div>

    <!-- Category Field -->
    <div>
      <label for="category">Category</label>
      <input type="text" name="category" value="{{ debt.category }}" id="category" required
        placeholder="Enter category" />
    </div>

    <!-- Submit Button -->
    <div>
      <button type="submit">Update</button>
      <br /><br />
      <a href="{% url 'debt_list' %}" class="btn btn-blue">Cancel</a>
    </div>
  </form>
</div>
{% endblock content %}