{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Update Payment</h1>
    <form method="POST" action="{% url 'update_payment' payment.id %}">
        {% csrf_token %}

        <div>
            <label for="customer">Customer:</label>
            <select name="customer" id="customer" required>
                {% for customer in customers %}
                    <option value="{{ customer.id }}" {% if customer.id == payment.customer.id %}selected{% endif %}>
                        {{ customer.name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="balance">Amount Collected:</label>
            <input type="number" name="balance" id="balance" step="0.01" value="{{ payment.balance }}" required />
        </div>

        <div>
            <label for="amount_paid">Amount Paid:</label>
            <input type="number" name="amount_paid" id="amount_paid" step="0.01" value="{{ payment.amount_paid }}" required />
        </div>

        <div>
            <label for="payment_method">Payment Method:</label>
            <select name="payment_method" id="payment_method" required>
                <option value="cash" {% if payment.payment_method == 'cash' %}selected{% endif %}>Cash</option>
                <option value="transfer" {% if payment.payment_method == 'transfer' %}selected{% endif %}>Transfer</option>
                <option value="debit card" {% if payment.payment_method == 'debit card' %}selected{% endif %}>Debit Card</option>
            </select>
        </div>

        <div>
            <label for="status">Status:</label>
            <select name="status" id="status" required>
                <option value="part" {% if payment.status == 'part' %}selected{% endif %}>Part</option>
                <option value="paid" {% if payment.status == 'paid' %}selected{% endif %}>Paid</option>
            </select>
        </div>

        <div>
            <button type="submit">Update</button>
            <br />
            <br />
            <a href="{% url 'payment_list' %}" class="btn btn-blue">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}
