{% extends 'base.html'%} {% block content%}
<div class="container">
  <h1>Customers List</h1>
  <td>
    <a href="{% url 'customer_form'%}" class="btn btn-blue">Add Customer</a>
  </td>

  <!-- Table for Desktop View -->
  <div class="d-none d-lg-block">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Customer Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Sex</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for c in cust %}
        <tr>
          <td>{{ c.name }}</td>
          <td>{{ c.email }}</td>
          <td>{{ c.phone }}</td>
          <td>{{ c.address }}</td>
          <td>{{ c.sex }}</td>
          <td>
            <a href="{% url 'customer_update' c.id %}" class="btn btn-blue"
              >Edit</a
            >
            <a href="{% url 'customer_delete' c.id %}" class="btn btn-red"
              >Delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Cards for Mobile View -->
  <div class="d-block d-lg-none">
    <div class="row">
      {% for c in cust %}
      <div class="col-12 col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ c.name }}</h5>
            <p class="card-text"><strong>Email:</strong> {{ c.email }}</p>
            <p class="card-text"><strong>Phone:</strong> {{ c.phone }}</p>
            <p class="card-text"><strong>Address:</strong> {{ c.address }}</p>
            <p class="card-text"><strong>Sex:</strong> {{ c.sex }}</p>
            <a href="{% url 'customer_update' c.id %}" class="btn btn-blue"
              >Edit</a
            >
            <a href="{% url 'customer_delete' c.id %}" class="btn btn-red"
              >Delete</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
