{% extends 'base.html'%} {% block content%}
<div class="container">
  <h1>Debtor's List</h1>
  <td>
    <a href="{% url 'debt_form'%}" class="btn btn-blue">Add Debt</a>
  </td>

  <!-- Table for Desktop View -->
  <div class="d-none d-lg-block">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Customer Name</th>
          <th>Amount Collected</th>
          <th>Reason</th>
          <th>Date Collected</th>
          <!-- <th>Status</th> -->
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for d in debts %}
        <tr>
          <td>{{ d.customer.name }}</td>
          <td>{{ d.amount }}</td>
          <td>{{ d.category }}</td>
          <td>{{ d.date_collected }}</td>
          <!-- <td>{{ d.status }}</td> -->


          <td>
            <a href="{% url 'debt_update' d.id %}" class="btn btn-blue">Edit</a>
            <a href="{% url 'debt_delete' d.id %}" class="btn btn-red">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Cards for Mobile View -->
  <div class="d-block d-lg-none">
    <div class="row">
      {% for d in debts %}
      <div class="col-12 col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ d.customer.name }}</h5>
            <p class="card-text">
              <strong>Amount Collected:</strong> {{ d.amount }}
            </p>
            <p class="card-text"><strong>Reason:</strong> {{ d.category }}</p>
            <p class="card-text">
              <strong>Date Collected:</strong> {{ d.date_collected }}
            </p>
            <a href="{% url 'debt_update' d.id %}" class="btn btn-blue">Edit</a>
            <a href="{% url 'debt_delete' d.id %}" class="btn btn-red">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}